<div class="row">

  <div class="col col-sm-6">
    <div class="card text-white mb-3" style="max-width: 40rem;">
      <div class="card-header">
        <div id="city-name">
        </div>
        <div id="date">
          <p></p>
        </div>
        <div id="today-weather">
          <p>読み込み中....<p>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title hours-header">3時間ごとの天気</h5>
        <div id="weather">
        </div>
      </div>
    </div>
  </div>

  <div class="col col-sm-6">
    <div class="news-contents">
      <div class="news-header"><h3>新着ニュース</h3></div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-technology-tab" data-toggle="tab" href="#nav-technology" role="tab" aria-controls="nav-technology" aria-selected="true"><i class="fas fa-robot mr-2"></i>テクノロジー</a>
          <a class="nav-item nav-link" id="nav-business-tab" data-toggle="tab" href="#nav-business" role="tab" aria-controls="nav-business" aria-selected="false"><i class="fas fa-chart-line mr-2"></i>ビジネス・経済</a>
          <a class="nav-item nav-link" id="nav-science-tab" data-toggle="tab" href="#nav-science" role="tab" aria-controls="nav-science" aria-selected="false"><i class="fas fa-flask mr-2"></i>科学</a>
          <a class="nav-item nav-link" id="nav-health-tab" data-toggle="tab" href="#nav-health" role="tab" aria-controls="nav-health" aria-selected="false"><i class="fas fa-medkit mr-2"></i>健康</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-technology" role="tabpanel" aria-labelledby="nav-technology-tab">
          <ul class="list-unstyled news-content" id="tech">
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-business" role="tabpanel" aria-labelledby="nav-business-tab">
          <ul class="list-unstyled news-content" id="business">
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-science" role="tabpanel" aria-labelledby="nav-science-tab">
          <ul class="list-unstyled news-content" id="science">
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-health" role="tabpanel" aria-labelledby="nav-health-tab">
          <ul class="list-unstyled news-content" id="health">
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
